name: Deploy prod (ElectroGases Front)

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lowercase owner
        run: echo "OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push front image (prod)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/electrogases-web:prod-latest
            ghcr.io/${{ env.OWNER_LC }}/electrogases-web:prod-${{ github.sha }}
          build-args: |
            VITE_URL_API_DEV=${{ secrets.VITE_URL_API_DEV }}
            VITE_URL_API_PROD=${{ secrets.VITE_URL_API_PROD }}
            VITE_PROD=true

      - name: Remote deploy (SSH)
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            docker network create stack || true
            cd ~/stack/apps/electrogases
            docker compose -f docker-compose.prod.yml up -d --pull always --force-recreate web
            docker image prune -f
